body{
    margin: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.element{
    padding: 30px;
    margin: 30px;
    background-color: aquamarine;
    flex-grow: 1;
    flex-basis: 10em;
    border-radius: 1em;
}
.topBar{
    width: 100vw;
    height: 60px;
    background-color: black;
}
.topBar > h1{
    color: white;
    height: 100%;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}
.bottomBar{
    flex-basis: 30em;
}