body{
    margin: 0;
}
button{
    border: none;
    border-radius: 1em;
    text-align: center;
    padding: 10px;
    margin: 2px;
    flex-grow: 1;
    background-color: #6ED2FD;
}
.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.element{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background-color: #E3EDF2;
    flex-grow: 1;
    flex-basis: 10em;
    border-radius: 1em;
}
.topBar{
    width: 100vw;
    height: 60px;
    background-color: #24354A;
}
.topBar > h1{
    color: white;
    height: 100%;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}
.bottomBar{
    flex-direction: row;
    flex-basis: 30em;
    display: flex;
    flex-wrap: wrap;
}
.bottomBar > div{
    flex-grow: 1;
    text-align: center;
}